/* @media (max-width: 4000px) {
  .header__title {
    font-size: 11em;
    text-shadow: 10px 8px 8px rgba(252,255,71,0.38);
  }
  .bayan-wrapper__item__header {
    font-size: 3em;
  }
  .bayan-wrapper__item__img {
    height: 35vh;
  }
  
  
} */